.circle{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0 4px;
  border : 0;
}
.light{
  background: #F8EAD8;
}
.pink{
  background: #790252;
}
.grey{
  background: #395B64;
}
.green{
  background: #1E5128;
}
.circle:hover{
  outline : 2px solid Black;
}